# ==========================================================
# Upstage API
# ==========================================================

UPSTAGE_API_KEY=


# ==========================================================
# Resume Agent
# ==========================================================

RESUME_AGENT_ID=
RESUME_CONFIG_ID=1


# ==========================================================
# JD Agent
# ==========================================================

JD_AGENT_ID=
JD_CONFIG_ID=1


# ==========================================================
# Matching Agent
# ==========================================================

MATCHING_AGENT_ID=
MATCHING_CONFIG_ID=1